body{
    scroll-behavior: smooth;
    background-color: #b0cac7;
}
nav{
    background-color: #011a5e;
}
nav ul{
    width: 50%;
}
nav li{
    padding: 2%;
    padding-right: 10%; 
    font-family: 'Roboto Mono', monospace;  
}

.mainh{
    font-family: 'Anton', sans-serif;
}
.view{
    height: 100%;
    background-image: url(intro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}

h1{
    font-family: 'Notable', sans-serif;
}
.icons{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 50% 50%;
}

.icons div{
    padding: 20%;
    text-align: center;
    
}
.icons p{
    padding-top: 5%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.work{
    margin-left: -10%;
    text-align: center;
}
.work h2{
    padding-top: 3%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}