body{
    scroll-behavior: smooth;
    background-color: rgb(195, 241, 241);
}
nav{
    background-color: rgb(94, 48, 138);
}
.view{
    height: 100%;
    
    background-image: url(intro.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icons{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 50% 50%;
}

.icons div{
    padding: 20%;
    text-align: center;
    
}
.icons p{
    padding-top: 5%;
}

.work{
    margin-left: -10%;
}
.work p{
    padding-top: 3%;
  
}