body{
    scroll-behavior: smooth;
    background-color: #ccffcc;
}
nav{
    background-color: #011a5e;
}
nav ul{
    width: 50%;
    margin-left: 50%;
}
nav li{
    padding: 2%;
    padding-right: 10%; 
    font-family: 'Roboto Mono', monospace;  
}

.mainh{
    font-family: 'Anton', sans-serif;
}
.view{
    height: 100%;
    background-image: url(background/intro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}

.about{
    padding-top: 5%;
}
.about img{
    width: 25%;
    height: 25%;
    border-radius: 140px;
    margin-left: 10%;
    
}
.info{
    padding-left: 10%;
}
.info p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 20px;
}
.skill{
    background-image: url(background/skill1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 0;
}

.icons{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 50% 50%;
}

.icons div{
    padding: 20%;
    text-align: center;
    
}
.icons p{
    padding-top: 5%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.work{
    margin-left: -10%;
    text-align: left;
}
.work h2{
    padding-top: 4%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
.work p{
    text-align: left;
}


.f{
    background-image: url(background/footer.svg);
    height: 20%;
}

.contact h3{
    font-family: 'Roboto Mono', monospace;
}
.con a{
    margin-left: 3%;
}
.con button{
    padding: 5px 15px;
    border-radius: 17px;
    border: 1px solid navy;
}

.social{
    margin-left: 23%;
    border-left: 2px solid navy;
    padding-left: 10%;
}



